body {
    background-color: rgba(255, 255, 255, 0.822);
    margin: 0 auto;
  }
  
  header {
    background-color: #ce4b4b;
    border-bottom: 4px solid #000000;
    margin-bottom: 40px;
    width: 100%;
    z-index: 10;
  }
  
  ul {
    margin: 5px 0;
    padding: 0 10px;
    text-align: center;
  }


  
  li {
    font-size: 13px;
    display: inline-block;
    width: 85px; 
    padding: 5px; 
    margin: 5px;   
  }

  ol {
    font-size: 12px;
    font-weight: 300;
    width: 80px;
    text-align: left; 
  }
  
  h1 {
    color: #5e2645;
    font-family: 'Oswald', sans-serif;
    font-size: 18px;
    font-weight: 300;
    text-transform: uppercase;
    text-align: left;
  }
  
  h3 {
    color: #3b6599;
    font-family: 'Oswald', sans-serif;
    font-size: 14px;
    text-align: justify;
    font-weight: 600;
    text-transform: uppercase;
    padding: 10px;
  }
  
  h4 {
    font-family: 'Oswald', sans-serif;
    font-size: 10px;
    font-weight: 250;
    text-align: center;
    text-transform: uppercase;
    display: inline-block;
  }
  
  p {
    color: #333;
    font-family: 'Varela Round', sans-serif;
    font-size: 16px;
    text-align: left;
  }
  
  footer {
    background-color: #ce4b4b;
    text-align: center;
    height: 150px;
    border-top: solid 5px;
  }
  
  .welcome {
    background-color: #eedbdb;
    box-sizing: border-box;
    position:absolute;
    text-align: justify;
    width: 100%;
    top: 70px;
 
  }
  
  .sidebar {
    display: inline-block;
    border: 4px double #771717;
    height: 600px;
    position: relative;
    width: 140px;
    padding-bottom: auto;
  }

  .image {
      display: inline-block;
      width: 500px;
      margin-top: 60px;
      padding: 30px;
  }

  .contain {
      display: inline-block;
      position: absolute;
      padding: 10px;
  }
  
